<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <div>
    <a class="navbar-brand" routerLink="login" *ngIf="!loggedIn">Login</a>
    <p *ngIf="loggedIn">Welcome {{data}}</p>

    <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
    <a class="navbar-brand" routerLink="profile" *ngIf="loggedIn">Profile</a>
  </div>

</nav>